// mixins

//another way to do it here//

// @mixin box ($color: purple, $flex-grow: 1){
//   flex-grow: $flex-grow;
//   @extend %tile;
// }


// placeholders

%tile {
  border: 1px solid black;
  -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.6);
  box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.6);
  margin: 10px;
  height: 200px;
  width: auto;
  min-width: 200px;
}
